{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
站点设置
{% endblock %}

{% block page-title %}
站点设置
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="javascript:void(0)">设置</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="javascript:void(0)">站点设置</a>
    </li>
{% endblock %}

{% block style %}

{% endblock %}

{% block dashboard %}
     <div class="row-fluid">
        <div class="span12">
            <div class="portlet box light-grey">

                <div class="portlet-title">

                    <div class="caption"><i class="icon-cog"></i>站点设置</div>

                    <div class="tools">
                        <a href="javascript:void(0)" class="collapse"></a>
                        <a href="javascript:void(0)" class="reload"></a>
                    </div>

                </div>

                <div class="portlet-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">作者</label>
                            <div class="controls">
                                <input type="text" name="textAdmin" class="span11 m-wrap" placeholder="作者">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">简介</label>
                            <div class="controls">
                                <input type="text" name="textDesc" class="span11 m-wrap" placeholder="简介">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">每页文章数</label>
                            <div class="controls">
                                <input type="text" name="textPageSize" class="span11 m-wrap" placeholder="默认为10">
                            </div>
                        </div>

{#                      使用按钮样式的切换#}
                        <div class="control-group">
                            <label class="control-label">RSS是否全文输出</label>
                            <div class="controls">
                                <input type="text" name="textRss" class="span11 m-wrap" placeholder="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">百度统计代码</label>
                            <div class="controls">
                                <textarea name="textBaiduCode" rows="6" class="span11 m-wrap"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">后台默认页面</label>
                            <div class="controls">
                                <select class="large m-wrap" tabindex="1">
                                    <option value="Category 1">Category 1</option>
                                    <option value="Category 2">Category 2</option>
                                    <option value="Category 3">Category 5</option>
                                    <option value="Category 4">Category 4</option>
                                </select>
                            </div>
                        </div>

                        <div class="controls">
                            <button type="submit" class="btn blue ro-sub-category" disabled>
                                <i class="icon-ok"></i>&nbsp;&nbsp;保存
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block script-link %}

{% endblock %}

{% block script %}
<script>
    $(function(){

    })
</script>
{% endblock %}